@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
  cursor: none;
}

.custom {
  pointer-events: none,
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  .bgradient{
    background: linear-gradient(180deg, #0F0073 0%, #2D0DFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bgradient1{
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.56);
    background: var(--Purple-Gradient, linear-gradient(180deg, #0F0073 0%, #2D0DFF 100%));
    box-shadow: 0px 0px 2px 0px rgba(62, 22, 13, 0.50), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .bxs{
    box-shadow: 9px 9px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 9px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 5px 0px rgba(0,0,0,0.75);
  }

  .herog{
    background: var(--linear, linear-gradient(270deg, #4E33FF 0%, #715CFF 107.89%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .pcard{
    background: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(34, 34, 34, 0.10);
  }

  .phaseimage{
    width: 102px;
    height: 122px;
    transform: rotate(21.802deg);
    flex-shrink: 0;
  }

  .tf{
    background: var(--linear, linear-gradient(270deg, #4E33FF 0%, #715CFF 107.89%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


.hide{
  display: none;
}

.show {
  display: block;
  animation: animate 0.5s ease-in-out; 
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}